@use "../global/mixins" as *;

/**
 * @file
 * Glossary of Legal Terms styling.
 */

.glossary__nav {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
  gap: 5px;
}

.glossary__nav-item {
  text-decoration: none;

  &:not(:last-child):after {
    display: inline-block;
    margin-inline: 0.5em;
    content: "|";
    text-align: center;
    color:  var(--border-muted-dark);
  }
}

.glossary__content {
  max-width: var(--text-max-width);
  color: var(--text-on-surface-base-light);

  dt {
    font-size: 28px;
    font-weight: 700;
  }

  dd {
    margin: 0;
    color: var(--text-on-surface-base-light);
    font-size: 17px;
  }
}

.glossary__letter-group {
  &:has(:target) {
    animation-name: highlight;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
  }
}

.glossary_item {
  padding-block: var(--spacing-md-1);

  &:not(:last-child) {
    border-bottom: solid 1px var(--border-muted-dark);
  }
}

.glossary__letter {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-block: var(--spacing-lg-2) var(--spacing-md-1);
  font-size: 32px;

  &:before,
  &:after {
    display: block;
    width: 24px;
    height: 0;
    margin-top: 1.5px;
    border-top: solid 3px var(--accent);
    content: "";
  }
}

.glossary__filters {
  margin-block: var(--spacing-md-1);

  .form--inline {
    display: flex;
    max-width: 325px;
    height: 38px;
    background: var(--surface-form);
    border-radius: 30px;
    border: solid 1px var(--border-muted-dark);
  }

  .usa-input {
    flex-grow: 1;
    max-width: 100%;
    min-width: 100px;
    height: 100%;
    margin: 0;
    padding-left: 10px;
    background: var(--surface-form);
    border-radius: 30px 0 0 30px;
    appearance: none;
    border-color: transparent;
  }

  .form-item,
  .form-actions {
    display: contents;
  }

  .usa-label {
    @include visually-hidden;
  }

  .usa-button {
    display: flex;
    margin: 0;
    padding: 8px 16px;
    border-radius: 30px;
    border-style: solid;
    align-items: center;
    appearance: none;
    background: var(--surface-button);
    color: var(--text-on-surface-button);
  }
}

@keyframes highlight {
  0% {
    background-color: transparent;
    outline: solid 0px transparent;
  }

  1% {
    background-color: transparent;
    outline: solid 20px transparent;
  }

  50% {
    background-color: #faf3d1;
    outline: solid 20px #faf3d1;
  }

  99% {
    background-color: transparent;
    outline: solid 20px transparent;
  }

  100% {
    background-color: transparent;
    outline: solid 0px transparent;
  }
}
