<div class="homepage-hero">
  <div class="homepage-hero__background-wrapper">
    <img src="{{ componentMetadata.path}}/stock.jpg" alt="">
  </div>
  <div class="homepage-hero__container container--small">
    <div class="homepage-hero__first">
      <h1 class="homepage-hero__title">The Federal Courts
of the United States</h1>
      <p class="homepage-hero__description">Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices. slkdn lkslkn Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque.</p>
      <div class="homepage-hero__cta-wrapper">
        <a href="#">About the Federal Courts</a>
      </div>
    </div>
    <div class="homepage-hero__second">
      {{ include('uscgov:court-finder-block') }}
    </div>
    <div class="homepage-hero__third">
      {{ include('uscgov:find-form-block') }}
    </div>
  </div>
</div>
