<div class="homepage-hero">
  <div class="homepage-hero__background-wrapper">
    {% block homepage_hero_image %}{% endblock %}
  </div>
  <div class="homepage-hero__container container--small">
    <div class="homepage-hero__first">
      <h1 class="homepage-hero__title">
        {{ title }}
      </h1>
      <p class="homepage-hero__description">
        {{ description }}
      </p>
      <div class="homepage-hero__cta-wrapper">
        {% block homepage_hero_link %}{% endblock %}
      </div>
    </div>
    <div class="homepage-hero__second">
      {{ include('uscgov:court-finder-block') }}
    </div>
    <div class="homepage-hero__third">
      {% embed 'uscgov:hero-block-secondary' with {

      }
      %}

      {% endembed %}
    </div>
  </div>
</div>
