[class] .usa-alert__body {
  margin-left: 0;
  padding-left: 77px;

  &:before {
    top: 50%;
    translate: 0 -50%;
  }
}

.usa-alert {
  margin-bottom: var(--spacing-component);

  [data-sitewide-alert] & {
    margin-bottom: 0;
  }
}
