[class] .usa-alert__body {
  margin-left: 0;
  padding-left: 77px;
  max-width: none;

  &:before {
    top: 50%;
    translate: 0 -50%;
  }
}

.usa-alert {
  position: relative; // Anchor dismiss button.
  margin-bottom: var(--spacing-component);

  [data-sitewide-alert] & {
    margin-bottom: 4px;
  }
}

.usa-alert__dismiss {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0;
  appearance: none;
  color: inherit;
  cursor: pointer;

  .usa-alert--emergency & {
    color: white;
  }

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -1px;
    width: 15px;
    height: 0;
    border-top: solid 2px currentColor;
    rotate: 45deg;
    content: "";
  }

  &:after {
    rotate: -45deg;
  }
}

.usa-alert__text p:last-child {
  margin-bottom: 0;
}
