{% set alert_classes = {
  'status': 'info',
  'info': 'info',
  'warning': 'warning',
  'error': 'error',
  'success': 'success',
  'emergency': 'emergency'
} %}
{%
  set classes = [
    'usa-alert usa-alert--' ~ alert_classes[type],
    icon == true ? "" : "usa-alert--no-icon",
    slim == true ? "usa-alert--slim" : "",
  ]
%}
{% set alertAttributes = create_attribute() %}
<div {{ alertAttributes.addClass(classes) }}>
  <div class="usa-alert__body">
    {% if status_headings[type] %}
      <h4 class="usa-alert__heading">{{ status_headings[type] }}</h4>
    {% endif %}
    {% for message in messages %}
      <p class="usa-alert__text">
        {{ message }}
      </p>
    {% endfor %}
  </div>
</div>
