@forward "usa-accordion";

.expand-link,
.collapse-link {
  float: right;
  position: relative;
  &::before {
    content: "";
    background-image: url('img/add.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -23px;
    top: -2px;
  }
}

.expand-link {
  &::before {
    background-image: url('img/add.svg');
  }
}
.collapse-link {
  &::before {
    background-image: url('img/remove.svg');
  }
}
.operations-group {
  display: inline-block;
  width: 100%;

  .expand-link {
    display: none;
  }

  &.collapsed {
    .collapse-link {
      display: none;
    }
    .expand-link {
      display: inline-block;
    }
  }
}

// Ensure accordion items that have nested required fields are marked with an asterisk.
.usa-accordion:has(.usa-accordion__content :is([required], .required, [aria-required="true"])) {
  .usa-accordion__button:after {
    content: "*";
  }
}

.usa-accordion__button[aria-expanded] {
  background: none; // Override USWDS.
  border-top: solid 2px var(--border-form);
  font-size: inherit;

  &:hover {
    background: var(--surface-primary-lighter);
  }

  &:before,
  &:after {
    position: absolute;
    right: 25px;
    top: calc(50% - 1.5px);
    content: "";
    width: 14px;
    height: 0;
    border-top: solid 3px var(--accent);
  }

  &:after {
    rotate: 90deg;
  }

  &[aria-expanded="true"] {
    background: var(--surface-primary-dark);
    color: var(--text-on-surface-primary-dark);

    &:before {
      border-color: currentColor;
    }

    &:after {
      opacity: 0;
    }
  }
}

.usa-accordion__content {
  background: transparent;
}
