<ul{{ attributes.addClass('usa-nav__secondary-links') }}>
  {% for item in items %}
    <li{{ item.attributes.addClass('usa-nav__secondary-item') }}>
      {{ link(item.title, item.url) }}
    </li>
  {% endfor %}
</ul>
