/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

@use "uswds-core" with (
  $theme-show-compile-warnings: false,
  $theme-show-notifications: false,
  $theme-image-path: '/themes/custom/uscgov/dist/uswds/img',
  $theme-grid-container-max-width: "widescreen",
  $theme-banner-max-width: "widescreen",
  $theme-header-max-width: "widescreen",
  $theme-footer-max-width: "widescreen",
  $theme-font-path: '/themes/custom/uscgov/dist/uswds/fonts',
  $theme-respect-user-font-size: true,
);
