@forward "../../sass/uswds/settings";
@use "uswds-core" as *;

.court-finder-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
  border-radius: 30px;
  border: 1px solid color('base');
  background: #F8F9FF;
  color: color('base-dark');
}

.court-finder-block__toggle {
  display: inline-flex;
  width: fit-content;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 30px;
  border: 1px solid color('base');
  background: color('base-lighter');
}

.court-finder-block__title {
  @include u-font-family('sans');
  margin: 0;
  color: color('base-darker');
}

.court-finder-block__description {
  margin: 0;
}

.court-finder-block__toggle-label {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
  padding: 5px 15px;
  font-size: 14px;
  color: color('base-dark');
  white-space: nowrap;
  cursor: pointer;

  input:checked + & {
    background: color('primary');
    color: white;

    &:after {
      display: block;
      width: 16px;
      height: 16px;
      content: "";
      background: currentColor;
      mask-image: url('images/check.svg');
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
    }
  }

  input:focus + & {
    outline: .25rem solid #2491ff;
  }
}

.court-finder-block__location-form-label {
  font-size: 13px;
}

.court-finder-block__form {
  display: none;
}

.court-finder-block__form-item-wrapper {
  display: flex;
  height: 40px;
  background: white;
  border-radius: 30px;
  border: 1px solid color('base');

  &:has(input:focus) {
    outline: .25rem solid #2491ff;
    outline-offset: 2px;
  }
}

.court-finder-block__form--location {
  .court-finder-block__toggle:has(#court-location-radio:checked) ~ & {
    display: block;
  }
}

.court-finder-block__form--name {
  .court-finder-block__toggle:has(#court-name-radio:checked) ~ & {
    display: block;
  }
}

.court-finder-block__input {
  flex-shrink: 1;
  width: 100%;
  padding-inline: 10px;
  border: 0;
  appearance: none;
  background: transparent;

  &:not([disabled]):focus {
    outline: 0;
  }
}

.court-finder-block__form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background: transparent;
  color: color('base-dark');
  cursor: pointer;

  &:after {
    display: block;
    width: 16px;
    height: 16px;
    content: "";
    background: currentColor;
    mask-image: url('images/magnify.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }
}

.court-finder-block__form-label {
  font-size: 13px;
  color: color('base-dark');
}
