@forward "../../uswds/settings";
@use "uswds-core" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Extra specificity to override USWDS.
body[class] {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: #F9FAFB; // @todo abstract to variable.
  line-height: 1.15;
}

h1, h2, h3 {
  @include u-font-family('serif');
  font-weight: normal;
}

a {
  color: color('primary');

  &:hover {
    color: color('primary-vivid');
  }
}
