.uscgov-root,
.editor-styles-wrapper {
  /**
   * Surface and text colors
   */

  // Primary
  --surface-primary: var(--color-primitive-theme-primary-primary);
  --text-on-surface-primary: var(--color-primitive-neutral-base-light);

  // Primary dark
  --surface-primary-dark: var(--color-primitive-theme-primary-dark); // #01417F
  --text-on-surface-primary-dark: var(--color-primitive-neutral-base-light);

  // Primary darker
  --surface-primary-darker: var(--color-primitive-theme-primary-darker);
  --text-on-surface-primary-darker: var(--color-primitive-neutral-base-light);

  // Primary lighter
  --surface-primary-lighter: var(--color-primitive-theme-primary-lighter); // #E6F1FA
  --text-on-surface-primary-lighter: var(--color-token-base-text-icon-base-dark); // #080A0D
  --text-on-surface-base-lighter--light: var(--color-token-base-text-icon-base-secondary-dark);
  --text-on-surface-base-lighter--primary: var(--color-primitive-theme-primary-dark); // #01417F

  // Body
  --surface-body: var(--color-primitive-neutral-base-light); // #FEFEFE
  --text-on-surface-body: var(--color-primitive-neutral-gray-base-secondary-dark);

  // Base light
  --surface-base-light: var(--color-primitive-neutral-gray-surface-variant); // #F8F9FF
  --text-on-surface-base-light: var(--color-primitive-neutral-gray-base-secondary-dark); // #525661
  --text-on-surface-base-light-dark: var(--color-primitive-neutral-base-dark); // #080A0D

  // Base lighter
  --surface-base-lightest: var(--color-token-base-background-background-variant); // #F4F6FB
  --text-on-surface-base-lightest: var(--color-token-base-text-icon-base-secondary-dark);
  --text-on-surface-base-lightest--dark: var(--color-primitive-neutral-base-dark);

  // Base medium
  --surface-base-medium: var(--color-primitive-neutral-gray-surface-variant-dark); // #E4E4E4
  --text-on-surface-base-medium: var(--color-primitive-neutral-gray-base-secondary-dark); // #525661

  /**
   * Accent
   */
  --accent: #722F1D;

  /**
   * Links, forms, and buttons
   */

  //  Links
  --text-link: var(--color-primitive-theme-primary-primary); // color('primary') #0057A3
  --text-link-dark: var(--color-primitive-theme-primary-dark);
  --text-link-darkest: var(--color-primitive-theme-primary-darkest);

  // Forms
  --surface-form: var(--color-primitive-neutral-white);

  --surface-button: var(--surface-primary);
  --text-on-surface-button: var(--text-on-surface-primary);

  --surface-button-dark: var(--color-primitive-theme-primary-dark); // #01417F
  --surface-button-darker: var(--color-primitive-theme-primary-darker); // #002D5A

  --surface-button-secondary: var(--color-primitive-theme-secondary-gold-light); // #EFD388
  --text-on-surface-button-secondary: var(--color-primitive-theme-primary-darkest);

  /**
   * Borders
   */
  --border-primary: var(--color-primitive-theme-primary-primary);
  --border-primary-dark: var(--color-primitive-theme-primary-dark); // #01417F
  --border-primary-darker: var(--color-primitive-theme-primary-darker); // #002D5A
  --border-muted-dark: var(--color-token-base-border-muted-dark);
  --border-form: var(--border-muted-dark); // color('base') #8C91A0

  /**
   * Accent
   */
  --accent: #A34329;
}
