@forward "../../sass/uswds/settings";
@forward "usa-banner";
@forward "override";


.usa-banner__content {
  body & {
    background-color: transparent;
  }

  @media (scripting: enabled) {
    display: none;

    .usa-banner__header--expanded + & {
      display: block;
    }
  }
}
