@forward "../../sass/uswds/settings";
@use "uswds-core" as *;

$footer_break_large: 'min-width: 1400px';

.footer {
    margin-top: 24px;
}

.footer__top {
  border-top: solid 1px #8C91A0;
  padding: 13.5px 40px;
  background-color: #F4F6FB;
}

.footer__bottom {
  background: #002D5A;
  color: #ffffff;

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

.footer__bottom-container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding-block: 40px;
  padding-inline: 26px;

  @media ($footer_break_large) {
    flex-direction: row;
    gap: 140px;
    padding-inline: unset;
  }
}

.footer__bottom-first {
  flex-shrink: 0;
}

.footer__bottom-first,
.footer__bottom-second,
.footer__bottom-third {
  display: flex;
  flex-direction: column;
}

.footer__branding {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 23px;
  margin-block: 0 40px;

  @media ($footer_break_large) {
    margin-block: 32px auto;
  }

  img {
    width: 80px;
    height: auto;
  }
}

.footer__branding-text {
  max-width: 380px; // Magic number per design.
  line-height: 1.35;
  font-size: 14px;
  font-style: italic;
}

.footer__subscribe-title {
  margin-block: 0 16px;
  font-size: 22px;
  font-weight: 600;
}

.footer__subscribe-description {
  margin-block: 16px;
  font-size: 14px;
}

.footer__subscribe-form-wrapper {
  display: flex;
  max-width: 325px; // Magic number to match designs.
  height: 38px;
  background: #ffffff;
  border-radius: 30px;
}

.footer__subscribe-input {
  flex-grow: 1;
  max-width: 100%;
  min-width: 100px;
  padding-left: 10px;
  background: #ffffff;
  border-radius: 30px 0 0 30px;
  appearance: none;
  border-color: transparent;
}

.footer__subscribe-button {
  display: flex;
  padding: 8px 16px;
  border-radius: 30px;
  border-style: solid;
  align-items: center;
  appearance: none;
  border-color: #888; // @todo can't extract the correct color from Figma.
  background: #0057A3;
  color: #ffffff;
}

.footer__feedback {
  padding: 24px;
  border-radius: 30px;
  border: 2px solid #0057A3;
  background: #E6F1FA;
  color: #002045;

  @media ($footer_break_large) {
    width: 206px; // Magic number to match designs.
  }
}

.footer__feedback-title {
  font-size: 22px;
  font-weight: 600;
  margin-block: 0 8px;
}

.footer__feedback-title-icon {
  &:after {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    content: "";
    background-color: currentColor;
    mask-image: url('/themes/custom/uscgov/icons/font-awesome/solid/bullhorn.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    @media (forced-colors: active) {
      background-color: canvasText;
    }
  }
}

.footer__feedback-description {
  margin-block: 8px 16px;
  font-size: 14px;
}

.footer__feedback-link-wrapper a {
  display: flex;
  width: fit-content;
  margin-top: 16px;
  padding: 8px 16px;
  align-items: center;
  border-radius: 30px;
  background: #0057A3;
  color: #FEFEFE;
  font-size: 16px;
  text-decoration: none;
}
