<a href="{{ quicklink.url }}" class="quicklink-item">
  <span class="quicklink-item__icon" style="--icon: url('{{ quicklink.svg_path }}');"></span>
  <span class="quicklink-item__title">{{ quicklink.title }}</span>
</a>
