@forward "../../sass/uswds/settings";
@use "../../../../sass/custom/global/media-queries" as *;
@use "uswds-core" as *;

@media ($mobile_break) {
  .primary-menu__dropdown-first {
    padding: var(--spacing-sm-2) var(--spacing-sm-3);
    background-color: var(--header-menu-mobile-header-background);
    box-shadow: 0px 4px 8px 0px rgba(64, 72, 97, 0.12);
  }

  .primary-menu__mobile-back-button {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-sm-1);
    padding: var(--spacing-sm-2) var(--spacing-sm-1);
    border: solid 1px transparent;
    appearance: none;
    background: transparent;
    font: inherit;
    font-size: 14px;
    color: color('base-dark');
    text-align: left;
    cursor: pointer;

    &:before {
      display: block;
      width: 18px;
      height: 18px;
      background: currentColor;
      mask-image: url('../images/arrow-back.svg');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      content: "";

      @media (forced-colors: active) {
        background: buttonText;
      }
    }
  }

  .primary-menu__dropdown-title {
    @include u-font-family('serif');
    margin-block: 0 0;
    font-size: 20px;
    font-weight: 600;
  }

  .primary-menu__dropdown-title-link {
    text-wrap: pretty;

    .last-word {
      white-space: nowrap;

      &::after {
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-left: var(--spacing-sm-1);
        margin-bottom: -3px;
        content: "";
        mask-image: url('../images/arrow-right.svg');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        background: currentColor;

        @media (forced-colors: active) {
          background: linkText;
        }
      }
    }
  }

  .primary-menu__mega-description-text,
  .primary-menu__mega-quick-links {
    display: none;
  }

  .primary-menu__dropdown,
  .primary-menu__level-2-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-height: 100%;
    visibility: hidden;
    translate: 100% 0;
    transform: rotateY(1deg); // Necessary for Safari to prevent horizontal scrolling 🤷‍♂️🤷‍♂️🤷‍♂️.
    transition: visibility 0.2s, translate 0.2s, scale 0.2s;
    scale: 0 1;
    transform-origin: right;
    background: var(--header-menu-wrapper-background);

    .primary-menu__button[aria-expanded="true"] ~ & {
      transform: rotateY(0deg);
      scale: 1;
      visibility: visible;
      translate: 0;
    }
  }

  .primary-menu {
    list-style: none;
    margin: 0;
    padding: var(--spacing-sm-3);
  }

  .primary-menu__link--level-0,
  .primary-menu__link--level-1,
  .primary-menu__button {
    display: block;
    width: 100%;
    padding: var(--spacing-sm-2) 0;
    text-decoration: none;
    cursor: pointer;
    appearance: none;
    border: 0;
    background: transparent;
    line-height: 1;
    font: inherit;
    font-size: var(--spacing-sm-2);
    color: color('primary-darker');
    text-align: left;

    &:not(.primary-menu__menu-item--level-0:last-child *) {
      border-bottom: solid 2px color('base');
    }
  }

  .primary-menu__button {
    position: relative;
    padding-right: 30px;

    &:after {
      position: absolute;
      top: 50%;
      right: 10px;
      translate: 0 -50%;
      rotate: -45deg;
      width: 8px;
      height: 8px;
      border-right: solid 2px currentColor;
      border-bottom: solid 2px currentColor;
      content: "";
    }
  }

  .primary-menu__link--has-children {
    display: none;
  }


  .primary-menu__link-main-text {
    font-size: 15px;
    font-weight: bold;
    color: color('base-darker');
  }

  .primary-menu__link-description-text {
    display: block;
    margin-top: var(--spacing-sm-1);
    font-size: 14px;
    color: color('base-dark');
    line-height: 1.3;
    text-wrap: pretty;
  }

  .primary-menu__menu-item--level-2 {
    margin-bottom: var(--spacing-sm-3);
  }

  .primary-menu__link--level-2 {
    text-decoration: none;

    .primary-menu__link-main-text {
      font-size: 16px;
      font-weight: normal;
    }
  }
}
