@forward "../../sass/uswds/settings";
@use "../../../../sass/custom/global/media-queries" as *;
@use "uswds-core" as *;

@media ($mobile_break) {
  .primary-menu__dropdown-first {
    padding: 16px 24px;
    background-color: #FEFEFE;
    box-shadow: 0px 4px 8px 0px rgba(64, 72, 97, 0.12);
  }

  .primary-menu__mobile-back-button {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 16px 8px;
    border: solid 1px transparent;
    appearance: none;
    background: transparent;
    font: inherit;
    font-size: 14px;
    color: #525661;
    text-align: left;
    cursor: pointer;

    &:before {
      display: block;
      width: 18px;
      height: 18px;
      background: currentColor;
      mask-image: url('../images/arrow-back.svg');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      content: "";
    }
  }

  .primary-menu__dropdown-title {
      margin-block: 0 0;
      font-size: 20px;
      font-weight: 600;
  }

  .primary-menu__dropdown-title-link {
    text-wrap: pretty;

    .last-word {
      white-space: nowrap;

      &::after {
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-left: 8px;
        margin-bottom: -3px;
        content: "";
        mask-image: url('../images/arrow-right.svg');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        background: currentColor;
      }
    }
  }

  .primary-menu__mega-description-text,
  .primary-menu__mega-quick-links {
    display: none;
  }

  .primary-menu__dropdown {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0; // Width set to zero when not shown to remove horizontal scroll.
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    translate: 100% 0;
    transition: visibility 0.2s, translate 0.2s;
    background: #f2f4fa; // @todo I used a color picker to get this.

    .primary-menu__button[aria-expanded="true"] + & {
      width: 100%;
      overflow: unset;
      visibility: visible;
      translate: 0;
    }
  }

  .primary-menu--level-2 {
    display: none;
  }

  .primary-menu {
    list-style: none;
    margin: 0;
    padding: 24px;
  }

  .primary-menu__link--level-0,
  .primary-menu__link--level-1,
  .primary-menu__button {
    display: block;
    width: 100%;
    padding: 16px 0;
    text-decoration: none;
    cursor: pointer;
    appearance: none;
    border: 0;
    background: transparent;
    line-height: 1;
    font: inherit;
    font-size: 16px;
    color: color('primary-darker');
    text-align: left;

    &:not(.primary-menu__menu-item--level-0:last-child *) {
      border-bottom: solid 2px #ccc;
    }
  }

  .primary-menu__button {
    position: relative;
    padding-right: 30px;

    &:after {
      position: absolute;
      top: 50%;
      right: 10px;
      translate: 0 -50%;
      rotate: -45deg;
      width: 8px;
      height: 8px;
      border-right: solid 2px currentColor;
      border-bottom: solid 2px currentColor;
      content: "";
    }
  }

  .primary-menu__link--has-children {
    display: none;
  }


  .primary-menu__dropdown-link-main-text,
  .primary-menu__button-text {
    font-size: 15px;
    font-weight: bold;
    color: #080A0D;
  }

  .primary-menu__dropdown-link-description-text,
  .primary-menu__button-description {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    color: #525661;
  }
}
